.container4-1 {
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background-color: var(--light-color);
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    margin-bottom: 60px;
    margin-top: 30px;
}

.container4content {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--light-color);
}

.container4text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.cont4text {
    color: var(--text-color);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    background-color: var(--light-color);
    /* 57.6px */
}

.cont4text>h2 {
    background-color: var(--light-color);
}

.cont4p {
    color: var(--text-color);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: start;
    background-color: var(--light-color);
    /* 30px */
}

div.cont4p>p {
    background-color: var(--light-color);
}

.container4btn>button {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 2000px;
    background-color: var(--dark-color);
    border: none;
    cursor: pointer;
    color: var(--light-color);

}

div.container4text {
    background-color: var(--light-color);
}

.container4btn>a,
button {
    background-color: var(--light-color);
}

.container4btn {
    background-color: var(--light-color);
}

.container4img {
    display: flex;
    margin-top: 50px;
    margin: auto;
    background-color: var(--light-color);
}

.container4img>img {
    background-color: var(--light-color);
}

.container4btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.container4btn>a {
    color: #9747FF;
}