.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px 20px 150px;
    align-items: center;
    width: 80%;
    background-color: var(--primary-color);
}

.aside1 {
    display: flex;
    gap: 31px;
    justify-content: center;
    margin-left: 20px;
    color: var(--text-color);
}

.aside2 {
    display: flex;
    gap: 31px;
    align-items: flex-start;
    color: var(--text-color);
}

.signupbtn>button {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 16px 24px;
    border-radius: 2000px;
    background-color: var(--btnnav-color);
    color: var(--text-color);
    border: 0;
    cursor: pointer;
}

.loginbtn>button {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 16px 24px;
    border-radius: 2000px;
    border: 0;
    background: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

.moon {
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
}

button.moon {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 0;
    border: 0;
    direction: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

/* .signupbtn:hover {
    padding: 16px 24px;
    border-radius: 2000px;
    background: #5200FF;

} */