.section0 {
    background-image: url(/public/Vector.png);
}

.section1 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 15%;
    height: 53vh;
    /* background-image: url(/public/Vector.png); */

}

.Star1>img {
    margin-left: 240px;
}

.Polygon>img {
    margin-top: 60px;
    margin-left: -30px;


}

.text2 {
    text-align: center;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    color: var(--text-color);
    /* 30px */
}

.text1 h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}


.colored1 {
    color: var(--asidetext-color);
    padding-left: 3px;
}

.colored {
    color: var(--asidetext-color);
    padding-right: 4px;
}

.line2 {
    display: block;
}

.btnn1>button {
    padding: 16px 24px;
    align-items: flex-start;
    border-radius: 20000px;
    background: #ffb800;
    border: 1px solid;
}

.btnn2>button {
    padding: 16px 24px;
    align-items: flex-start;
    border-radius: 20000px;
    border: 1px solid var(--border1-color);
    background: transparent;
    color: var(--text-color);
}

.btns2 {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}