.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 250px;
    flex-shrink: 0;
    height: 250px;
    border-radius: 12px;
    color: var(--text-color);
    border: 1px solid var(--light-color);
    background: var(--light-color);
    font-family: outfit;
}

.card {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    background-color: var(--light-color);
}

.card-image {
    width: 80px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--light-color);
}

.cardtext1 {
    background-color: var(--light-color);
}

.card-title {
    background-color: var(--light-color);
}

.card-image>svg {
    background-color: var(--light-color);
}