.Container1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    gap: 12px;
    color: var(--text-color);
    position: static;
    justify-self: center;
    font-family: outfit;
}

.cardcontainer {
    justify-content: center;
    padding-top: 20px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}