:root {
  --primary-color: white;
  --text-color: #2F2B37;
  --btnnav-color: #5200FF;
  --light-color: #F7F3FF;
  --dark-color: #985CE6;
  --asidetext-color: #5200FF;
  --border1-color: hsl(259, 100%, 50%);
  --background-image: url(/public/Vector.png);
  --lightdark-color: #E5D7FF;

}

.dark-theme {
  --primary-color: #0A021C;
  --text-color: #ffffff;
  --btnnav-color: #FFB800;
  --light-color: #18102B;
  --dark-color: #A6B1C3;
  --asidetext-color: white;
  --border1-color: #FFFFFF;
  --background-image: "url(Vector2d.png)";
}

.App {
  text-align: center;
}